#! $HOME/.gitignore

#----[ ignore all ] -----
/*
/*/
#---[ consider list ]---
# 这两行很重要，不然下面的都无效
!.config/
.config/*
!.config/i3/
!.config/redshift.conf

!.config/polybar/

!.config/rofi/
!.config/zathura/

!.config/ranger/
.config/ranger/plugins/__pycache__/*
.config/ranger/colorschemes/__pycache__/*
.config/ranger/colorschemes/__init__.pyo
.config/ranger/colorschemes/default.pyo
.config/ranger/plugins/__init__.pyo
.config/ranger/plugins/devicons.pyo
.config/ranger/plugins/devicons_linemode.pyo

!.config/alacritty/

!.config/compton.conf
!.config/nvim/
.config/nvim/autoload/
.config/nvim/session/
.config/nvim/backup/
.config/nvim/undodir/
.config/nvim/plugged/

!.local/
.local/*
!.local/share/
.local/share/*
!.local/share/autojump/

!.zshrc
# !.p10k.zsh
!.fzf.zsh
!.gitignore
!.pylintrc
!readme.md
!.tmux.conf.local
!.tmux.conf
!.tmux-line.conf
!.config/fontconfig/
!.picgo/
.picgo/*
!.picgo/config.json
!.doom.d/
#---[ ignore list ]---

.config/nvim/config/Session.vim

.config/ranger/__pycache__/commands.cpython-36.opt-1.pyc
.local/share/autojump/autojump.txt
.local/share/autojump/autojump.txt.bak
