#! $HOME/.gitignore

#----[ ignore all ] -----
*
#---[ consider list ]---
!.config/i3/

!.config/polybar/

!.config/ranger/
.config/ranger/plugins/__pycache__/*
.config/ranger/colorschemes/__pycache__/*
.config/ranger/colorschemes/__init__.pyo
.config/ranger/colorschemes/default.pyo
.config/ranger/plugins/__init__.pyo
.config/ranger/plugins/devicons.pyo
.config/ranger/plugins/devicons_linemode.pyo

!.config/alacritty/

!.config/compton.conf
!.config/nvim/
.config/nvim/autoload/
.config/nvim/seesion/
.config/nvim/backup/
.config/nvim/undodir/
.config/nvim/plugged/



!.zshrc
!.fzf.zsh
!.gitignore
!.pylintrc
#---[ ignore list ]---
